
#error_explanation.alert.alert-danger.alert-dismissable{style: "display:none;"}
  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×

  %ul
    - if @blog.errors.any?
      %strong
        = pluralize(@blog.errors.count, "error")
      - @blog.errors.full_messages.each do |msg|
        %li= msg      
.form-group
  = f.label :title
  %br/
  = f.text_field :title , :class => "form-control", :placeholder => 'Title'
.form-group
  = f.label :content
  %br/
  = f.text_area :content , :class => "form-control", :placeholder => 'Tell a Story or Something that you want to say'
.form-group
  = f.label :avatar
  = f.file_field :avatar 
.text-center{style: 'margin-top: 50px;'}
  = f.submit "Publish", class: "btn btn-lg btn-success"        
