%header
  .container
    .intro-text
      .intro-lead-in Why So Serious?
      .intro-heading Tell to the world why you are serious.

/ Page Content
.container
  .row
    / Blog Entries Column
    .col-md-8.col-md-offset-2
      %h1.page-header
        List of Stories
        %small Stories that will make you cry why they are so serious

      - for blog in @blogs
        
        %h2
          = blog.title
        %p.lead
          by
          %a{href: "#"} Start Bootstrap
        %p
          %span.glyphicon.glyphicon-time
          Posted on 
          = blog.created_at.strftime("%B %d, %Y")
          = blog.created_at.strftime("%I:%M") + "#{blog.created_at.hour < 12 ? 'AM' : 'PM'}"
        %hr/
        = image_tag blog.photo.url 
        = image_tag blog.photo.url(:medium) 
        = image_tag blog.photo.url(:thumb) 
        %hr/
        %p 
          = blog.content
        %a.btn.btn-success{href: "#"}
          Read More
          %span.glyphicon.glyphicon-chevron-right
        %hr/

      / Pager


  / /.row
  %hr/
  / Footer
  %footer
    .row
      .col-lg-12
        %p Copyright © Your Website 2014
      / /.col-lg-12
    / /.row
/ /.container