<div class="container">
	<h2>Sign in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :class => "form-control" , autofocus: true %></div>

	  <div><%= f.label :password %><br />
	    <%= f.password_field :password, :class => "form-control" , autocomplete: "off" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "Sign in", :class => 'btn btn-success' %></div>
	<% end %>

	<%= render "users/shared/links" %>
</div>