!!!
%html
  %head
    %title RailBlogApp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrapper.toggled
      #sidebar-wrapper

        %ul.sidebar-nav
          %li.sidebar-brand
            %a{href: "#"}
              Why So Serious?
          %li
            %a{href: "#"} Home
          %li
            = link_to 'Blogs', '#' 
          - if user_signed_in?
            %li
              = link_to "Sign Out", destroy_user_session_path, :method => :delete
          - else
            .container
              = link_to "Sign In, Now!", new_user_session_path, :class => 'btn btn-default'
            %br            
            .container
              = link_to "Y U No Sign Up?", new_user_registration_path, :class => 'btn btn-success'                           

      %a#menu-toggle.btn.btn-default{href: "#menu-toggle"} 
        %h4 W
      #page-content-wrapper
        = yield
